<form th:fragment="loginFragment">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">User Name :</label>
        <div class="col-sm-6">
            <input type="text" name="username"
                   th:attr="class=${usernameError != null ? 'form-control is-invalid' : 'form-control'}"
                   placeholder="User name"/>
            <div class="invalid-feedback" th:if="${usernameError != null}" th:text="${usernameError}"></div>
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-6">
            <input type="password" name="password"
                   th:attr="class=${passwordError != null ? 'form-control is-invalid' : 'form-control'}"
                   placeholder="Password"/>
            <div class="invalid-feedback" th:if="${passwordError != null}" th:text="${passwordError}"></div>
        </div>
    </div>
    <div class="form-group row" th:if="${isRegisterForm}">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-6">
            <input type="email" name="email" class="form-control" placeholder="some@some.com"/>
        </div>
    </div>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
    <a href="/registration" th:if="${!isRegisterForm}">Add new user</a>
    <button class="btn btn-primary" type="submit" th:text="${isRegisterForm ? 'Create' : 'Sign In'}"></button>
</form>

<div th:fragment="logoutFragment">
    <form th:action="@{/logout}" method="post">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button class="btn btn-primary" type="submit"
                th:text="${currentUserId != null ? 'Sign Out' : 'Sign In'}"></button>
    </form>
</div>