<html xmlns:th="http://www.thymeleaf.org">
<body>

<form th:fragment="loginFragment">
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">User Name :</label>
        <div class="col-sm-6">
            <input type="text" name="username" class="form-control" placeholder="User name" />
        </div>
    </div>
    <div class="form-group row">
        <label class="col-sm-2 col-form-label">Password:</label>
        <div class="col-sm-6">
            <input type="password" name="password" class="form-control" placeholder="Password" />
        </div>
    </div>
    <div class="form-group row" th:if="${isRegisterForm}">
        <label class="col-sm-2 col-form-label">Email:</label>
        <div class="col-sm-6">
            <input type="email" name="email" class="form-control" placeholder="some@some.com" />
        </div>
    </div>
    <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
    <a href="/registration" th:if="${!isRegisterForm}">Add new user</a>
    <button class="btn btn-primary" type="submit" th:text="${isRegisterForm ? 'Create' : 'Sign In'}"></button>
</form>

<!--<div >-->
    <form action="/logout" method="post" th:fragment="logoutFragment">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <button class="btn btn-primary" type="submit">Sign Out</button>
    </form>
<!--</div>-->

</body>
</html>