<div th:fragment="userMessages">
<div class="card-columns" id="message-list">
    <div class="card my-3" th:each="message : ${messages}" th:attr="data-id=${message.id}">
        <img th:if="${message.filename != null}" th:src="@{${'/img/' + message.filename}}" class="card-img-top"/>

        <div class="m-2">
            <span th:text="${message.text}"></span><br>
            #<i th:text="${message.tag}"></i>
        </div>
        <a th:href="@{${'/user-messages/' + message.author.id}}">
            <div class="card-footer text-muted" th:text="${message.authorName}"></div>
        </a>
        <a class="btn btn-primary" th:if="${message.author.id == currentUserId}"
           th:href="@{${'/user-messages/' + message.author.id + '?message=' + message.id}}">Edit</a>
    </div>
</div>

<div style="text-align: center; margin-top: 20px" th:if="${#lists.isEmpty(messages)}">
    <h3>No Messages found</h3>
</div>
</div>