<html xmlns:th="http://www.thymeleaf.org">
<body>


<!--<div th:include="fragments/security :: securityFragment"></div>-->
<!--<#include "security.ftl">-->
<form action="/login" method="post" th:include="fragments/login :: loginFragment"></form>
<!--<#import "login.ftl" as l>-->

<nav class="navbar navbar-expand-lg navbar-light bg-light" th:fragment="navFragment">

    <a class="navbar-brand" href="/">Feeder</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/main">Messages</a>
            </li>
            <li class="nav-item" th:if="${isAdmin}">
                <a class="nav-link" href="/user">User list</a>
            </li>
        </ul>

        <div class="navbar-text mr-3" th:text="${name}" th:value="${name}"></div>
<!--        <div>-->
            <form th:include="fragments/login :: logoutFragment"></form>
<!--    </div>-->
    </div>
</nav>


</body>
</html>