<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common :: headFragment"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/navbar :: navFragment"></nav>
<div class="container mt-5">

    <th:block th:if="${message != null}">
        <span th:text="${message}"></span>
    </th:block>

    <form action="/login" method="post" th:with="isRegisterForm=false" th:include="fragments/login :: loginFragment"></form>

    <th:block th:include="fragments/common :: footerFragment"></th:block>
</div>
</body>
</html>