<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head th:include="fragments/common :: headFragment"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/navbar :: navFragment"></nav>
<div class="container mt-5">

    Add new user
    <div th:if="${message != null}">
        <span th:text="${message}"></span>
    </div>

<!--    <form th:action="@{/registration}" method="post" th:with="isRegisterForm=true" th:include="fragments/login :: loginFragment" th:object="${user}"></form>-->

    <form th:action="@{/registration}" method="post" th:object="${usr}">
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">User Name :</label>
            <div class="col-sm-6">
                <input type="text" name="username" th:attr="class=${usernameError != null ? 'form-control is-invalid' : 'form-control'}" th:field="*{username}" placeholder="User name" />
                <div class="invalid-feedback" th:if="${usernameError != null}" th:text="${usernameError}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-6">
                <input type="password" name="password" th:attr="class=${passwordError != null ? 'form-control is-invalid' : 'form-control'}" th:field="*{password}" placeholder="Password" />
                <div class="invalid-feedback" th:if="${passwordError != null}" th:text="${passwordError}"></div>
            </div>
        </div>
        <div class="form-group row">
            <label class="col-sm-2 col-form-label">Password:</label>
            <div class="col-sm-6">
                <input type="password" name="password2" th:attr="class=${password2Error != null ? 'form-control is-invalid' : 'form-control'}" th:field="*{password2}" placeholder="Password" />
                <div class="invalid-feedback" th:if="${password2Error != null}" th:text="${password2Error}"></div>
            </div>
        </div>
        <div class="form-group row" >
            <label class="col-sm-2 col-form-label">Email:</label>
            <div class="col-sm-6">
                <input type="email" name="email" th:attr="class=${emailError != null ? 'form-control is-invalid' : 'form-control'}" th:field="*{email}" placeholder="some@some.com" />
                <div class="invalid-feedback" th:if="${emailError != null}" th:text="${emailError}"></div>
            </div>
        </div>
        <input type="hidden" name="_csrf" th:value="${_csrf.token}" />
        <button class="btn btn-primary" type="submit" >Create</button>
    </form>
</div>

<th:block th:include="fragments/common :: footerFragment"></th:block>
</body>
</html>