<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/common :: headFragment"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/navbar :: navFragment"></nav>
<div class="container mt-5">

    User editor
    <form>
        <div class="form-group">
            <div class="col-sm-10">
                <input type="text" name="username" th:value="${user.username}" class="form-control">
            </div>
        </div>
        <div th:each="role : ${roles}">
            <label>
                <input type="checkbox" th:name="${role}" th:id="${role}" class="form-check-input"
                       th:checked="${user.roles != null && user.roles.contains(role)}" th:text="${role}"/>
            </label>

        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
    </form>

</div>

<th:block th:include="fragments/common :: footerFragment"></th:block>
</body>
</html>