<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/common :: headFragment"></head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/navbar :: navFragment"></nav>
<div class="container mt-5">

    <table class="table table-hover">
        <thead>
        <tr scope="col">
            <td>Name</td>
            <td>Role</td>
            <td>Action</td>
        </tr>
        </thead>
        <tbody>
        <tr scope="col" th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.roles}"></td>
            <td><a th:href="@{/user/{id}(id=${user.id})}">edit</a></td>
        </tr>
        </tbody>

    </table>


</div>

<th:block th:include="fragments/common :: footerFragment"></th:block>
</body>
</html>