<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>user messages</title>
    <div th:replace="fragments/common :: headFragment"></div>
</head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/navbar :: navFragment"></nav>
<div class="container mt-5">

    <h3 th:text="${userChannel.username}"></h3>
    <th:block th:if="${!isCurrentUser}">
        <a class="btn btn-info" th:if="${isSubscriber}" th:href="@{${'/user/unsubscribe/' + userChannel.id}}">Unsubscribe</a>
        <a class="btn btn-info" th:unless="${isSubscriber}" th:href="@{${'/user/subscribe/' + userChannel.id}}">Subscribe</a>
    </th:block>


    <div class="container my-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Subscriptions</div>
                        <h3 class="card-text">
                            <a th:href="@{${'/user/subscriptions/' + userChannel.id + '/list'}}"
                               th:text="${subscriptionsCount}"></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Subscribers</div>
                        <h3 class="card-text">
                            <a th:href="@{${'/user/subscribers/' + userChannel.id + '/list'}}"
                               th:text="${subscribersCount}"></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <a class="btn btn-primary" data-toggle="collapse" href="#collapseExample" role="button" aria-expanded="false"
       aria-controls="collapseExample">
        Message editor
    </a>

    <div class="collapse" th:if="${isCurrentUser}" th:attr="class=${message != null ? 'collapse show' : 'collapse'}"
         id="collapseExample">
        <div class="form-group mt-3">
            <form method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <input type="text" th:attr="class=${textError != null ? 'form-control is-invalid' : 'form-control'}"
                           name="text" placeholder="Введите сообщение"
                           th:value="${message != null ? message.text : ''}"/>

                    <div class="invalid-feedback" th:if="${textError != null}" th:text="${textError}"></div>
                </div>
                <div class="form-group">
                    <input type="text" class="form-control" name="tag" placeholder="Тэг"
                           th:value="${message != null ? message.tag : ''}"/>
                    <div class="invalid-feedback" th:if="${tagError != null}" th:text="${tagError}"></div>
                </div>
                <div class="form-group">
                    <div class="custom-file">
                        <input type="file" name="file" id="customFile"/>
                        <label class="custom-file-label" for="customFile">Choose file</label>
                    </div>
                </div>
                <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
                <!--/*@thymesVar id="message" type="regexit.feeder.domain.Message"*/-->
                <input type="hidden" name="id" th:if="${message != null}" th:value="${message.id.intValue()}"/>
                <div class="form-group">
                    <button type="submit" class="btn btn-primary">Save message</button>
                </div>
            </form>
        </div>
    </div>

    <div class="card-columns" id="message-list">
        <div class="card my-3" th:each="message : ${messages}" th:attr="data-id=${message.id}">
            <img th:if="${message.filename != null}" th:src="@{${'/img/' + message.filename}}" class="card-img-top"/>

            <div class="m-2">
                <span th:text="${message.text}"></span><br>
                #<i th:text="${message.tag}"></i>
            </div>
            <a th:href="@{${'/user-messages/' + message.author.id}}">
                <div class="card-footer text-muted" th:text="${message.authorName}"></div>
            </a>
            <a class="btn btn-primary" th:if="${message.author.id == currentUserId}"
               th:href="@{${'/user-messages/' + message.author.id + '?message=' + message.id}}">Edit</a>
        </div>
    </div>

    <div style="text-align: center; margin-top: 20px" th:if="${#lists.isEmpty(messages)}">
        <h3>No Messages found</h3>
    </div>

</div>

<th:block th:include="fragments/common :: footerFragment"></th:block>
</body>
</html>