<!DOCTYPE HTML>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head th:replace="fragments/common :: headFragment"></head>

<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/navbar :: navFragment"></nav>
<div class="container mt-5">

    <h3 th:text="${userChannel.username}"></h3>
    <th:block th:if="${!isCurrentUser}">
        <a class="btn btn-info" th:if="${isSubscriber}" th:href="@{${'/user/unsubscribe/' + userChannel.id}}">Unsubscribe</a>
        <a class="btn btn-info" th:unless="${isSubscriber}" th:href="@{${'/user/subscribe/' + userChannel.id}}">Subscribe</a>
    </th:block>


    <div class="container my-3">
        <div class="row">
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Subscriptions</div>
                        <h3 class="card-text">
                            <a th:href="@{${'/user/subscriptions/' + userChannel.id + '/list'}}"
                               th:text="${subscriptionsCount}"></a>
                        </h3>
                    </div>
                </div>
            </div>
            <div class="col">
                <div class="card">
                    <div class="card-body">
                        <div class="card-title">Subscribers</div>
                        <h3 class="card-text">
                            <a th:href="@{${'/user/subscribers/' + userChannel.id + '/list'}}"
                               th:text="${subscribersCount}"></a>
                        </h3>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div th:if="${isCurrentUser}" th:replace="fragments/messageEdit :: messageEdit"></div>
    <div th:replace="fragments/messages :: userMessages"></div>

</div>

<th:block th:include="fragments/common :: footerFragment"></th:block>
</body>
</html>