<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>user edit</title>
    <div th:replace="fragments/common :: headFragment"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/navbar :: navFragment"></nav>
<div class="container mt-5">

    User editor

    <form action="/user" method="post">
        <input type="text" name="username" th:value="${user.username}">

        <div th:each="role : ${roles}">
            <label><input type="checkbox" th:name="${role}"
                          th:checked="${user.roles != null && user.roles.contains(role)}" th:text="${role}"> </label>
        </div>

        <input type="hidden" th:value="${user.id}" name="userId">
        <input type="hidden" name="_csrf" th:value="${_csrf.token}"/>
        <button type="submit">Save</button>
    </form>
</div>

<th:block th:include="fragments/common :: footerFragment"></th:block>
</body>
</html>