<!doctype html>
<html lang="en">
<head>
    <title>user list</title>
    <div th:replace="fragments/common :: headFragment"></div>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-light bg-light" th:include="fragments/navbar :: navFragment"></nav>
<div class="container mt-5">

    <div th:each="user : ${users}">

    </div>
    <table>
        <thead>
        <tr>
            <td>Name</td>
            <td>Role</td>
        </tr>
        </thead>
        <tbody>
        <tr th:each="user : ${users}">
            <td th:text="${user.username}"></td>
            <td th:text="${user.roles}"></td>
            <td><a th:href="@{/user/{id}(id=${user.id})}">edit</a></td>
        </tr>
        </tbody>

    </table>

</div>

<th:block th:include="fragments/common :: footerFragment"></th:block>
</body>
</html>